*{
    font-family: 'Source Sans Pro', sans-serif;
    overflow-x: hidden;
    box-sizing: border-box;
}
h1{
    font-size: 60px;
    color: dimgray;
}
h2{
    font-size: 40px;
    color: dimgray;
}
span{
    color: #4940E0;
}
p{
    color: dimgray;
    font-size: 18px;
}
.order-food{
    display: flex;

}
.first-part{
    width: 50%;
    margin-left: 10px;
}
.first-part img{
    width: 100%;
}
.first-link{
    text-decoration: none;
    background-image: linear-gradient(to right,#5047E5 , #2217C9);
    padding: 10px 20px;
    color: white;
    border-radius: 20px;
}
.background{
    background-image: url(images/shapes/Frame\ 56.jpg);
    background-size: cover;
    height: 600px;
}
.about-me{
    display: flex;
}
.second-part{
    width: 50%;
    margin-left: 10px;
    padding-top: 160px;
}
.second-part img{
    width: 100%;
}
.third-part{
    text-align: center;
}
.clm{
    float: left;
    width: 26.66%;
    margin-left: 5%;
    margin-top: 5%;
    box-shadow: 10px 10px 20px 3px gray;
    border-radius: 25px;
}
.clm img{
    padding: 10px;
}
.clm h2{
    text-align: center;
}
.clm p{
    text-align: center;
}
.rounded-border{
    border-radius: 22px;
}


